{% extends "app03/base.html" %}

{% load static %}

{% block titulospestania %}
    Cursos
{% endblock%}

{% block contenidodinamico %}
    <h1>Agregar Cursos</h1>
{% endblock %}

{% block cambiostyles %}
    <link href="{% static 'app03/css/stylescurso.css'%}" rel="stylesheet" />    
{% endblock %}

{% block main_alta_cursos %}
    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{mi_formulario.as_table}}
        </table>
        
        <input type="submit" value="Enviar">
    </form>
{% endblock main_alta_cursos %}




