{% extends 'app03/base.html' %}

{% load static %}


{% block titulospestania %}
    Login
{% endblock%}

{% block contenidodinamico %}
    <h1></h1>
{% endblock %}

{% block contenidocentral %}
    <h1>LOGIN USUARIOS</h1>
{% endblock %}

{% block cambiostyles %}
    <link href="{% static 'app03/css/styleslogin.css'%}" rel="stylesheet" />    
{% endblock %}

{% block main_login %}
    <div class="d-flex justify-content-center">

        <div class="d-flex flex-column">
        
            <p class="fs-5 fw-bold">{{msg_login}} </p>

            <form action="" method="POST">
                {% csrf_token%}

                {{form.as_p}}
                <input type="submit" value = "Iniciar Sesion">
            </form>
        </div>
    </div>
{% endblock main_login%}